body {
    background-color: rgb(116, 98, 218);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#intro{
    color:rgb(62, 255, 252);
}

#introText{
    margin: 20px;
    width: 900px;
    float: left;
    
}

#introPicture{
}

#hobbies{
    margin: 40px;
}

.reset{
    clear: both;
}