body {
    background-color: rgb(116, 98, 218);
    margin: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p{
    margin: 0px;    
}

#intro{
    color:rgb(62, 255, 252);
}

#introText{
    margin: 20px;
    width: 900px;
    float: left;
}

#introPicture{
    margin: 20px 0px 20px 0px;
    float: left;
}

#hobbies h2{
    margin: 40px;
}

#hobbies{
    width: 500px;
    float: left;
}

.reset{
    clear: both;
}