body {
    background-color: rgb(116, 98, 218);
    margin: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#intro{
    color:rgb(62, 255, 252);
}

#introText{
    width: 700;
    float: left;
}

#introPicture{
    float: left;
}

.reset{
    clear: both;
}